@font-face {
  font-family: texts;
  src: url(./fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}

@font-face {
  font-family: secondtext;
  src: url(./fonts/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}

@font-face {
  font-family: dribble;
  src: url(./alkaline-font-family-1760352227-0/AlkalineTest-Medium-BF676e1b6c9ed61.otf);
}

@font-face {
  font-family: buttons;
  src: url(./fonts/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 60px 1fr 70px;
  grid-template-areas:
    "main-nav main-nav"
    "banner banner"
    "section section"
    "offer offer";
  gap: 10px;
}

.main-nav {
  margin: 30px;
  margin-top: 20px;
  grid-area: main-nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: texts;
  font-size: 14px;
  font-weight: 600;
}

.logo {
  font-family: dribble;
  font-size: 30px;
}

.nav-first {
  display: flex;
  gap: 90px;
}

.nav-second {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.last-nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.last-nav i {
  font-size: 30px;
}

#upgrade {
  background-color: black;
  padding: 13px 25px;
  color: white;
  border-radius: 20px;
}

.section {
  grid-area: section;
  padding: 60px;
  font-family: texts;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  height: 90%;
}

.section-left {
  width: 45%;
}

/* .section-right{
   border: 2px solid black;
} */

.section-left h3 {
  font-size: 48px;
}

.section-left p {
  font-size: 16px;
  margin-top: 15px;
}

.section-right video {
  width: 650px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: -40px;
}

.section-buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: texts;
}

.section-button-inside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-button-inside p {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
}

.section-button-inside #image-line {
  background-color: #3a3546;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

.section-button-inside p:hover {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 20px;
  transition: all ease 0.3s;
}

.search-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-input input {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: #f3f3f6;
  transition: all ease 0.3s;
}

.search-input i {
  position: absolute;
  right: 10px;
  background-color: #ec5e95;
  padding: 11px;
  border-radius: 50%;
  color: white;
  font-size: 19px;
}

.search-input input:focus {
  outline: none;
  border: 2px solid #f7e9f7;
  background-color: #fff;
}

.popular{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.popular-button button{
  gap: 20px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 5px 10px;
  color: rgb(75, 73, 73);
}

.popular-button:hover{
  cursor: pointer;
}

.popular-button button:hover{
  background-color: rgb(243, 243, 243);
}

.banner {
  background-color: yellow;
  grid-area: banner;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f1f2f9;
  font-family: texts;
  font-size: 14px;
}

.banner p {
  display: flex;
  align-items: center;
}

#pro {
  margin-right: 10px;
  background-color: black;
  color: white;
  padding: 1.5px 5px;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.banner button {
  background: none;
  border: none;
  font-weight: bold;
}

.offer {
  background-color: royalblue;
  grid-area: offer;
  margin: -60px auto 0 auto;
  border-radius: 20px;
  background-color: #F8F8FC;
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer button{
  background-color: #fff;
}

.offer-paragraph{
  
}