@font-face {
  font-family: texts;
  src: url(./fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}

@font-face {
  font-family: secondtext;
  src: url(./fonts/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}

@font-face {
  font-family: dribble;
  src: url(./alkaline-font-family-1760352227-0/AlkalineTest-Medium-BF676e1b6c9ed61.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 60px 1fr 70px;
  grid-template-areas:
    "main-nav main-nav"
    "banner banner"
    "section section"
    "offer offer";
  gap: 10px;
}

.main-nav {
margin: 30px;
margin-top: 20px;
  grid-area: main-nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: texts;
  font-size: 14px;
  font-weight: 600;
  
}

.logo {
  font-family: dribble;
  font-size: 30px;
}

.nav-first {
  display: flex;
  gap: 90px;
}

.nav-second {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.last-nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.last-nav i {
  font-size: 30px;
}

#upgrade {
  background-color: black;
  padding: 13px 25px;
  color: white;
  border-radius: 20px;
}

.section {
  grid-area: section;
  padding: 50px;
  font-family: texts;
  display: flex;
  justify-content: space-between;
}

.section-left h3{
  font-size: 48px;
  
}

.section-left p{
  font-size: 16px;
  margin-top: 15px;
}

.section-right video{
height: 400px;

}

.banner {
  background-color: yellow;
  grid-area: banner;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F1F2F9;
}

.banner p{
  display: flex;
  align-items: center;
}

#pro {
  margin-right: 10px;
  background-color: black;
  color: white;
  padding: 2px 7px;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.banner button{
  background: none;
  border: none;
  font-weight: bold;
}

.offer {
  background-color: royalblue;
  grid-area: offer;
}
